html{
    background-color: #000000;
}
@font-face {
    font-family: 'VCR';
    src: url(../better-vcr-5.2.ttf);
}
body{
    color: red;
    font-family: 'VCR';
    font-size: 20px;
}
input{

    font-family: 'VCR';
    font-size: 20px;
    border: 2px solid red;
    margin: 10px    ;
    background-color: #000000;
  color: red;
  padding: 5px 10px;
  cursor: pointer;
}
a{
    color: red;
    margin: 10px 20px;

}
input:focus {
    color: greenyellow;
    outline: none;
    background-color: #002200;
    border: 2px solid #00FF00;
  }
.border{
    border-style: groove;
    border-width: 12px;
    border-color: red;
}
.flex-by-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: column   ;
}
.flex-by-start{
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-flow: column   ;
}
.flex-by-row-centered{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between   ;
}
.backwards{
    display: flex;
    flex-direction: row-reverse;
}